*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid green;
    list-style-type: none;
}

:root{
    --myGap: 10px;
    --internalItems: white;
    --headerBgColor: #3161e0;
    --introductionElem: coral;
}

/* formattazione header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--myGap);
    padding-block: 1%;
    background-color: var(--headerBgColor);
}

nav ul li,
header>button,
header figure{
    width: 100px;
    height: 50px;
    background-color: var(--internalItems);
}

nav ul{
    display: flex;
    gap: var(--myGap);
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding-block: 1%;
    text-transform: capitalize;
}

/* formattazione main */

.service-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.introduction{
    color:white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--myGap);
    /* qui andrebbe l'immagine di sfondo */
    background-color: var(--headerBgColor);
}
.introduction h1,
.introduction p,
.introduction div button{
    background-color: var(--introductionElem);
}
.introduction h1{
    width: 200px;
    height: 50px;
}
.introduction p{
    width: 350px;
    height: 100px;
}
.download{
    display: flex;
    width: 350px;
    justify-content:space-around;
    height: 50px;
    gap: var(--myGap);
}
.download button{
    width: 40%;
}

.service-description>div.dettagli{
    display: flex;
    height: 500px;
    width: 80%;
    align-items: center;
}
.dettagli figure{
    
    width: 65%;
    height: 100%;
    background-color: pink;
}
.dettagli div{
    width: 35%;
    height: 80%;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--myGap);
}
.dettagli div h1,
.dettagli div p{
    height: 100px;
    width: 80%;
    background-color: var(--internalItems);
}
.dispari{
    flex-direction: row-reverse;
}


